<footer class="center">
  <div class="measure">
    <small>
      © Copyright <a href="https://github.com/AdrianHsu">Adrian Hsu</a>. <br>
      Powered by <a href="https://github.com/johno/pixyll">Pixyll</a>. <br>
      <!-- Start of CuterCounter Code -->
      <a href="http://www.cutercounter.com/traditional-chinese-n/" target="_blank"><img src="http://www.cutercounter.com/hit.php?id=gufacxa&nd=6&style=51" border="0" alt="網站計數器"></a> <script id="_wauavq">var _wau = _wau || []; _wau.push(["small", "9xspavfuqk", "avq"]);</script><script async src="//waust.at/s.js"></script>
      <!-- End of CuterCounter Code -->
    </small>
  </div>
</footer>
{% if site.enable_anchorjs %}<!-- AnchorJS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.0.0/anchor.min.js"></script>
<script>
    anchors.options.visible = 'always';
    anchors.add('article h2, article h3, article h4, article h5, article h6');
</script>{% endif %}
